@tailwind components;
@tailwind base;
@tailwind utilities;

@import './styles/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&family=Poppins:wght@400;500;600;700&display=swap');

body {
  @apply bg-grey-sm p-3 md:p-md mb-[182px] min-h-screen;
}

select,
input {
  @apply p-2 px-4 bg-grey-sm;
}

.hidden {
  height: 0;
  width: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 0;
}
/* You can add global styles to this file, and also import other style files */
